[submodule "deps/di"]
	path = deps/di
	url = https://github.com/boost-experimental/di
[submodule "deps/hat-trie"]
	path = deps/hat-trie
	url = https://github.com/Tessil/hat-trie.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog
