name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  MacOS:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6
    - name: venv
      run: python3 -m venv --upgrade-deps ~/venv && housekeeping/github_venv.sh $_
    - name: install
      run: |
        pip3 install scikit-build
        pip3 install cmake==3.25 requests gitpython gcovr
        brew install ninja
    - name: cmake
      env:
        CURL_SSL_BACKEND: SecureTransport
      run: cmake -G Ninja -B build .
    - name: build
      run: cmake --build build -- -j4
    - name: test
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
      run: cmake --build build --target test
  Linux-gcc:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6
    - name: venv
      run: housekeeping/github_venv.sh /venv
    - name: cmake
      run: cmake -B build .
    - name: build
      run: cmake --build build -- -j4
    - name: test
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
      run: cmake --build build --target test
