name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # 3 jobs in total
        os: [ubuntu-latest, macos-latest]
        compiler: [{
          "cc": "gcc",
          "cxx": "g++"
         }, {
          "cc": "clang",
          "cxx": "clang++"
        }]
        exclude:
          - os: macos-latest
            compiler:
              cc: gcc
    steps:
    - uses: actions/checkout@v1
      name: checkout
      with:
        submodules: true
        clean: true
        fetch-depth: 1
    - name: install dependencies
      run: |
        set -e

        sudo python3 -m pip install --upgrade pip
        sudo pip3 install scikit-build
        sudo pip3 install cmake=="3.25.0" requests gitpython gcovr pyyaml
    - name: cmake
      env:
        CC: ${{ matrix.compiler.cc }}
        CXX: ${{ matrix.compiler.cxx }}
      run: cmake . -Bbuild
    - name: build
      env:
        CURL_SSL_BACKEND: SecureTransport
      run: cmake --build build -- -j4
    - name: test
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
      run: cmake --build build --target test
